<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pasajero</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="¿A donde se dirije?"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>
        <ion-label>Coronel</ion-label>
        <ion-label>Coste: 10$</ion-label>
        <ion-label>Salida: 10:30</ion-label>        
      </ion-label>
      <ion-button slot="end" size="small"  shape="round">
        Viajar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-label>Coronel</ion-label>
        <ion-label>Coste: 10$</ion-label>
        <ion-label>Salida: 10:30</ion-label>        
      </ion-label>
      <ion-button slot="end" size="small"  shape="round">
        Viajar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-label>Coronel</ion-label>
        <ion-label>Coste: 10$</ion-label>
        <ion-label>Salida: 10:30</ion-label>        
      </ion-label>
      <ion-button slot="end" size="small"  shape="round">
        Viajar
      </ion-button>
    </ion-item>
    <ion-item>
      <ion-label>
        <ion-label>Coronel</ion-label>
        <ion-label>Coste: 10$</ion-label>
        <ion-label>Salida: 10:30</ion-label>        
      </ion-label>
      <ion-button slot="end" size="small"  shape="round">
        Viajar
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>