<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Historial de viajes</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="assets/img/cheems.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Cliente</ion-card-subtitle>
      <ion-card-title>Manuel Figueroa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-text color="dark">
        <h1>Ruta</h1>
        <p>Coronel</p>

        <h1>Coste</h1>
        <p>$10.00</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  
</ion-content>
