<ion-header [translucent]="true" >
  <ion-toolbar class="ion-text-center" color="tertiary">
    
    <ion-title >
      bienvenido 
    </ion-title>

    <ion-button slot="end" fill="blank" expand="small" shape="round" class="ion-margin-top" [routerLink]="['/homeuser'] " >
      <ion-icon slot="start" name="person"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  
  <ion-text color="black" class="ion-margin-horizontal">
    <h5 class="ion-margin-horizontal">Necesitas viajar a Duoc o a tu casa desde el Duoc, entonces presiona el siguiente boton :</h5>
  </ion-text>
  <ion-button color="secondary" expand="block" shape="round" class="ion-margin-top" [routerLink]="['/home-p']" >
    <ion-icon slot="start" name="car"></ion-icon>
     Pasajero
  </ion-button>

  <ion-item-divider>         
  </ion-item-divider>
  <ion-text color="black" class="ion-margin-horizontal">
    <h5 class="ion-margin-horizontal">Te dirijes hacia Duoc o Te vas a tu casa en tu auto y puedes llevar a mas gente? entonces presiona el siguiente boton:</h5>
  </ion-text>
  <ion-button color="secondary" expand="block" shape="round" class="ion-margin-top" [routerLink]="['/home-c']">
    <ion-icon slot="start" name="speedometer"></ion-icon>
    Conductor
  </ion-button>
    <ion-item-divider>         
    </ion-item-divider>
    
    
    
</ion-content>

